[Desktop Entry]
Type=Application
Name=Tdev
GenericName=Terminal Multiplexer
Comment=Launch Terminal Multiplexer
Exec=kitty -e zsh -c "source ~/.zshrc; exec ~/.local/bin/tmux-dev"
Icon=tmux
Terminal=false
Categories=Utility
Keywords=tmux;terminal;
StartupWMClass=kitty
StartupNotify=true
